inventorybar
{
	position: absolute;
	left: 25px;
	bottom: 0px;
	font-family: Roboto;
	opacity: 0;

	&.active
	{
		bottom: 100px;
		opacity: 1;
	}
}

inventorycolumn
{
	margin-right: 5px;
	mix-blend-mode: lighten;
	color: #9f9f9f;
	flex-direction: column;
	align-items: flex-start; // align to the left, don't stretch

	.slot-number
	{
		background-color: rgba(61, 61, 61, 0);
		padding: 22px 15px 0px 10px;
		font-size: 0px;
		font-weight: bolder;
		width: 40px;
		height: 40px;
	}

	inventoryicon
	{
		opacity: 1;
		padding: 25px 15px 10px 2px;
		width: 40px;
		height: 40px;
		overflow: hidden;

		.icon
		{
			opacity: 0;
		}
	}

	opacity: 0.4;

	&.active
	{
		opacity: 1;

		inventoryicon
		{
			opacity: 0.2;
			display: flex;
			width: 200px;
			height: 90px;

			.icon
			{
				opacity: 1;
			}

			&.active
			{
				opacity: 1;
			}
		}
	}
}

inventoryicon
{
	margin-top: 5px;
	mix-blend-mode: lighten;
	color: #000000;
	background-color: grey;
	font-size: 40px;
	font-weight: lighter;
	padding: 10px;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	.icon
	{
		width: 150px;
		height: 150px;
		background-size: 100%;
		background-image-tint: #ffffff;
		position: absolute;
	}

	&.active
	{
		opacity: 1;

		.icon
		{
			// filter: drop-shadow additive glow
			opacity: 1;
		}
	}
	
}


.zpsviral_usp .icon
{
	background-image: url( materials/ui/usp.png );
}

.zpsviral_glock17 .icon
{
	background-image: url( materials/ui/glock17.png );
}

.zpsviral_remington .icon
{
	background-image: url( materials/ui/870.png );
}

.zpsviral_mp5 .icon
{
	background-image: url( materials/ui/mp5.png );
}

.zpsviral_ak47 .icon
{
	background-image: url( materials/ui/ak47.png );
}

.zpsviral_axe .icon
{
	background-image: url( materials/ui/axe.png );
}

.zpsviral_machete .icon
{
	background-image: url( materials/ui/machete.png );
}

.zpsviral_revolver .icon
{
	background-image: url( materials/ui/revolver.png );
}
