vitals {
	transition: all 0.5s ease-out;
	position: absolute;
	font-family: Poppins;
	font-size: 64px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	opacity: 1;
	width: 100%;
	height: 100%;

	.health {
		position: absolute;
		top: 5%;
		right: 6.5%;
	}

	&.survivor {
		.team {
			background-image: url("materials/ui/health.png");
			background-size: cover;
			top: 5%;
			left: 94%;
			width: 78px;
			height: 82px;
		}
	}

	&.infected {
		.team {
			background-image: url("materials/ui/infected.png");
			background-size: cover;
			top: 5%;
			left: 94%;
			width: 88px;
			height: 92px;
		}

		.overlay {
			//Opacity is 0 until the image itself is fixed
			opacity: 0;
			background-image: url("materials/ui/infectedoverlay.png");
			background-size: cover;
			right: 5%;
			width: 100%;
			height: 100%;
		}
	}

	&.undead {
		.team {
			opacity: 1;
			color: rgb(120, 0, 0);
		}
	}
}
